doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Восстановление пароля
    link(rel="stylesheet", href="styles/authentication/passwordRestoration.css")
  body
    .wrapper
      form.form#restorationForm
        p Введите почту, на которую зарегистрирован аккаунт. Пароль будет отправлен на почту.
        label Почта
          input(type="email" placeholder="Почта" required).form__input#email
        if (errorMessage)
          p#errorMessage #{ errorMessage }
        else
          p#errorMessage
        button(type="submit").form__button Восстановить пароль

  script(src="scripts/authentication/passwordRestoration.js" type="text/javascript")
